.populateDiv, .populateDivGen, .populateDivGenEdit, .populateDivOrderCustomer, .populateDivPayment, .populateDivPaymentHis, .populateDivGenDelete, .populateDivSend{
	z-index: 11;
	display:none;
	position: fixed;
	overflow: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border:1px solid #007dc6;
	background:#fcfcfc;
	padding:20px;
	box-shadow: 0 12px 30px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.populateDiv{
	width:375px;
	height:568px;
}
.populateDivGen{
	width:375px;
	height:474px;
	z-index: 13;
}
.populateDivOrderCustomer{
	width:320px;
	height:457px;
}
.populateDivPayment{
	width:375px;
	height:454px;
	z-index: 13;
}
.populateDivSend{
	width:375px;
	height:555px;
	z-index: 13;
}
.populateDivPaymentHis{
	width:375px;
	height:454px;
}
.populateDivGenDelete{
	width:375px;
	height:211px;
	z-index: 14;
}

#paymentsTable_filter{
	margin-right:20px !important;
}

.closebtn{
	position:absolute;
	top:0px;
	right:0px;
	font-size:40px;
	color: #007dc6;
}
.closebtn:hover{
	color: #8ed5ff;
	cursor: pointer;
}
.closeIcon{
	position:absolute;
	right:5px;
	top:5px;
	font-size:25px;
	color:#007dc6;
	cursor:pointer;

}
.closeIcon:hover{
	cursor: pointer;
}
.descPopValue{
	cursor:pointer;
}
select{
	cursor:pointer;
}
#gray-background{
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    z-index: 10;
}
input[type="search"]{
	font-size: 12px;
    padding: 5px;
    width: 250px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
}
.dataTables_filter{
	font-size: 12px;
}
.genbtns{
	font-size: 20px;
    display: inline-block;
    width:100px;
	margin:5px;
}
.genbtns:hover{
	background-color:white;
	cursor: pointer;
	color: #007dc6;
}
.actionicon:hover{
	cursor:pointer;
}
.select-customer {
  z-index: 12;
}
