.CSSTableGenerator {
	margin:0px;padding:0px;
	width:800px;
	border:1px solid #000000;
	
	
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	
}
.CSSTableGenerator table tr:first-child td:first-child {
	
	
}
.CSSTableGenerator table tr:first-child td:last-child {

}.CSSTableGenerator tr:last-child td:first-child{
	
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	height:60px;
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #7f0000 5%, #ff0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #ff0000) );
	background:-moz-linear-gradient( center top, #7f0000 5%, #ff0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#ff0000");	background: -o-linear-gradient(top,#7f0000,ff0000);

	background-color:#7f0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	height:25px;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f0000 5%, #ff0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #ff0000) );
	background:-moz-linear-gradient( center top, #7f0000 5%, #ff0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#ff0000");	background: -o-linear-gradient(top,#7f0000,ff0000);

	background-color:#7f0000;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.tableImg{ 
    max-width: 75px;
    max-height: 60px;
    width: auto;
    height: auto;
}